div#navbar
	div#navItems
		ul
			a(href="/")
				li.navItem
					img.navLogo(src="/public/images/logo.png")
			a(href="/admin")
				li.navItem Errors
			a(href="/admin")
				li.navItem Users
			a(href="/logout")
				li.navItem Logout