doctype html
html(lang="en")
    head
        title Choose Class
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script(src="http://138.197.133.246/public/class/attendance.js")
        link(rel="stylesheet" href="/public/class/css/attendance.css")
    body
        div#container
            form#attendanceForm( type="form" action='' method='post' enctype='application/x-www-form-urlencoded' )
                div.page
                    div.top
                        div.stamp date here

                    ul

                    input(type="submit" value="Take attendance")

