doctype html
html(lang="en")
    head
        title Dashboard
        link(rel="stylesheet" href="/public/absents/absents.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="http://hallpass.winona.k12.mn.us/public/absents/main.js")
    body
    	